<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <caching>
            <profiles>
                <add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="07:00:00:00" />
            </profiles>
        </caching>
      <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <!-- HTTP Errors section should only be enabled if the "Error Pages"
        feature has been delegated as "Read/Write" at the Web Server level.-->
           <httpErrors>
        <remove statusCode="401" subStatusCode="-1" />
        <remove statusCode="403" subStatusCode="-1" />      
        <remove statusCode="404" subStatusCode="-1" />                
        <remove statusCode="500" subStatusCode="-1" />
          <!-- full url when responsemode is Redirect -->
        <error statusCode="401" path="/404.html" responseMode="ExecuteURL" />
          <!-- local relative path when responsemode is ExecuteURL -->
        <error statusCode="403" path="/404.html" responseMode="ExecuteURL" />
        <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />                
        <error statusCode="500" path="/404.html" responseMode="ExecuteURL" />
      </httpErrors>
       

    </system.webServer>
</configuration>