//Variabelen
//Kleuren
$rdCl:#3C3F36;
$dCl:#9FB03E;
$Cl:#BDD684;
$lCl:#E2F0D6;
$rlCl:#F6FFE0;
$grey: #BDBDBD;
$wit: #F5F5F5;
//Breedte
$defWidth:1050px;
//Responsive
$mobile: 425px;
$tablet: 768px;
$desktop: 1050px;
